*{
    margin: 0;
    padding: 0;
}

/*HEADER*/
.page-heading{height: 40px;display: flex;flex-wrap: wrap;justify-content: space-around;margin: 15px 20px 0px 30px;}
.side-heading{
	/* position: absolute; */
	/* right: 30px; */
	float: right;
}
.side-heading a{
    text-decoration: none;
    color: #7e37d8;
}
.fa-home{
    color: #7e37d8;
    padding: 4px ;
    background: #ede6fa;
    border-radius: 100%;
}
.side-heading  #app{
    font-weight: 700;
}
.page-heading h2{
    font-weight: 800;
    font-size: 32px;
}
/*Main Container*/
.wholePage{
    background: #fdfeff;
    padding: 40px;
    font-size: 14px;
    color: #242934;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container1{
    margin: 25px 30px 25px 30px;
    background: white;
    border-radius:25px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
/*card start*/
.card1{
    padding: 50px 50px 0px 50px;
}
/*Header section for card*/
.head{
    padding: 40px;
    font-size: 20px;
    border-bottom: 1px solid #f1f1f1;
}
#title{
    border: 1px solid #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    width: 96%;
}
input[type="text"]{
    margin: 20px 0px;
    border: 1px solid #efefef;
}
input[type="text"]:focus{
   outline-color: #9bddff;
   
}
/* type radio input*/
.radiotype{
    display: flex;
    margin: 15px 5px;
}
.radioOption{
    margin-right: 20px;  
}
/*category*/
.select2-container{
  margin: 5px  0px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background: #7e37d8 !important;
  color: white !important;
  padding: 5px 5px !important;

}
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white !important;
  }
  .select2-container--default .select2-search--inline .select2-search__field{
    border: none;
    border-radius: 15px !important;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #efefef !important;
    border-radius: 15px !important;
    margin: 15px  0px !important;
    padding: 5px 5px 5px 5px !important;
  }
  .select2-container--default .select2-selection--multiple{
    border: 1px solid #efefef !important;
    border-radius: 15px !important;
    padding: 5px 5px 5px 5px !important;
  }
  /*textarea*/
  .content textarea{
      margin: 15px 0;
      border-radius: 15px;
      border-color: #efefef;
      outline: none;
      width: 100%;
      height: 100px;
  }
  .content textarea:focus{
      border: 2px solid #7e37d8;
  }
 
  /*Drag and drop pics */
  #drop-region {
    padding: 49px;
      margin: 20px 10px 30px 10px;
      border: 2px dashed #7e37d8;
      letter-spacing: 0.5px;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      box-shadow: 0px 0px 25px 0px rgb(126 55 216 / 5%);
      background:#e5d7f7;
      margin: 1;
    transition:.3s;
  }
  #drop-region:hover {
    box-shadow:0 0 45px rgba(0,0,0,0.1);
  }
  
  #image-preview {
    margin-top:20px;
  }
  #image-preview .image-view {
      display: inline-block;
    position:relative;
    margin-right: 13px;
    margin-bottom: 13px;
  }
  #image-preview .image-view img {
      max-width: 100px;
      max-height: 100px;
  }
  #image-preview .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 2;
      background: rgba(255,255,255,0.5);
  }
  /*post and discard button*/
  .uploadingbtn button{
border: none;

  }
  .postbtn{
         background: #7e37d8;
         border-radius: 5px;
         color: white;
         font-size: 14px;
        padding: 10px 28px;
        font-weight: 700;
         margin: 50px 10px;
         cursor: pointer;
  }
  .postbtn:hover{
    opacity: 0.8;
  }
  .discardbtn{
        background: #dbdade;
        border-radius: 5px;
        color: black;
        font-size: 14px;
        padding: 10px 28px;
        font-weight: 700;
        margin: 20px 18px 10px 10px;
        cursor: pointer;
  }
  .discardbtn:hover{
      background: #dacbf5;
  }
  @media (max-width:320px){
    .upload-container{
      padding: 5px 30px;
    }
   
  }
  /*textarea of wizwig*/
  .tox{
   
    height: 400px !important;
   }